<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }} ---> ngIf with serverCreated and serverName </p>

<p *ngIf="serverCreated; else noServer">Server was created , server name is {{ serverName }} ---> ngIf  and else statement </p>
<ng-template #noServer>
  <p>
    No server was added
  </p>
</ng-template>
<p>{{ serverCreationStatus }} ---> serverCreationStatus </p>

<app-server></app-server>
<app-server></app-server>
